
<html>
<head>
    <title>MLB 2025 Runs Given Up</title>
    <link rel="stylesheet" type="text/css" href="mlb_runs_given_up.css">
    <script src="mlb_rgu.js"></script>
</head>
<body>
    <p> 
        <a href="https://andrewscheiner.github.io">Back to Andrew Scheiner's Website</a>
        <a href="https://runyourpool.com">Run Your Pool</a>
        <a href="https://andrewscheiner.github.io/_includes/PROJECTS/MLBRunsGivenUp/mlb_2024_runs_given_up.html">2024 Runs Given Up</a>
    </p>
    <h1>MLB 2025 Runs Given Up</h1>
    <p>Last updated: 05/04/2025 07:01:03 EST</p>
    <table border="1" class="dataframe" id="runs_given_up_table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>Matches</th>
      <th>Games</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Milwaukee Brewers</th>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Cleveland Guardians</th>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>12</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Los Angeles Angels</th>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Arizona D'Backs</th>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>4</td>
      <td>7</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>12</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Toronto Blue Jays</th>
      <td>0</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Cincinnati Reds</th>
      <td>3</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>34</td>
    </tr>
    <tr>
      <th>San Francisco Giants</th>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Seattle Mariners</th>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Pittsburgh Pirates</th>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Athletics</th>
      <td>3</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>11</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Boston Red Sox</th>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>8</td>
      <td>8</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>35</td>
    </tr>
    <tr>
      <th>St. Louis Cardinals</th>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Miami Marlins</th>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>10</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Texas Rangers</th>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Chicago White Sox</th>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>10</td>
      <td>33</td>
    </tr>
    <tr>
      <th>New York Yankees</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Los Angeles Dodgers</th>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Tampa Bay Rays</th>
      <td>2</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Washington Nationals</th>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Baltimore Orioles</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>7</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Atlanta Braves</th>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Kansas City Royals</th>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Houston Astros</th>
      <td>2</td>
      <td>5</td>
      <td>4</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Colorado Rockies</th>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>9</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Philadelphia Phillies</th>
      <td>0</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>7</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Minnesota Twins</th>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Detroit Tigers</th>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Chicago Cubs</th>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>32</td>
    </tr>
    <tr>
      <th>San Diego Padres</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>7</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td>32</td>
    </tr>
    <tr>
      <th>New York Mets</th>
      <td>5</td>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td>33</td>
    </tr>
  </tbody>
</table>
    <p>Data source: <a href="https://baseball-reference.com">Baseball Reference</a>, scraped using <a href="https://github.com/jldbc/pybaseball">Pybaseball</a></p>
    <p class='copyright'>© Andrew Scheiner 2025</p>
</body>
</html>
