
<html>
<head>
    <title>MLB 2024 Runs Given Up</title>
    <link rel="stylesheet" type="text/css" href="mlb_runs_given_up.css">
    <script src="mlb_rgu.js"></script>
</head>
<body>
    <p> 
        <a href="https://andrewscheiner.github.io">Back to Andrew Scheiner's Website</a>
        <a href="https://runyourpool.com">Run Your Pool</a>
        <a href="https://andrewscheiner.github.io/_includes/PROJECTS/MLBRunsGivenUp/mlb_2025_runs_given_up.html">2025 Runs Given Up</a>
    </p>
    <h1>MLB 2024 Runs Given Up</h1>
    <table border="1" class="dataframe" id="runs_given_up_table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>Matches</th>
      <th>Games</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ARI</th>
      <td>10</td>
      <td>14</td>
      <td>16</td>
      <td>23</td>
      <td>20</td>
      <td>22</td>
      <td>16</td>
      <td>4</td>
      <td>14</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>1</td>
      <td>4</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>CHW</th>
      <td>7</td>
      <td>10</td>
      <td>21</td>
      <td>18</td>
      <td>23</td>
      <td>18</td>
      <td>19</td>
      <td>16</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>HOU</th>
      <td>11</td>
      <td>20</td>
      <td>23</td>
      <td>26</td>
      <td>25</td>
      <td>18</td>
      <td>12</td>
      <td>7</td>
      <td>3</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>14</td>
      <td>161</td>
    </tr>
    <tr>
      <th>LAA</th>
      <td>7</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>16</td>
      <td>27</td>
      <td>14</td>
      <td>16</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>COL</th>
      <td>1</td>
      <td>10</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>33</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>MIL</th>
      <td>14</td>
      <td>18</td>
      <td>24</td>
      <td>24</td>
      <td>19</td>
      <td>25</td>
      <td>14</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>TOR</th>
      <td>9</td>
      <td>14</td>
      <td>23</td>
      <td>29</td>
      <td>21</td>
      <td>13</td>
      <td>17</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>WSN</th>
      <td>6</td>
      <td>21</td>
      <td>15</td>
      <td>23</td>
      <td>21</td>
      <td>18</td>
      <td>13</td>
      <td>17</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>MIN</th>
      <td>8</td>
      <td>10</td>
      <td>25</td>
      <td>33</td>
      <td>14</td>
      <td>23</td>
      <td>13</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>14</td>
      <td>162</td>
    </tr>
    <tr>
      <th>CIN</th>
      <td>8</td>
      <td>21</td>
      <td>21</td>
      <td>19</td>
      <td>23</td>
      <td>22</td>
      <td>17</td>
      <td>13</td>
      <td>5</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>KCR</th>
      <td>11</td>
      <td>26</td>
      <td>22</td>
      <td>23</td>
      <td>26</td>
      <td>10</td>
      <td>14</td>
      <td>10</td>
      <td>4</td>
      <td>7</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>CHC</th>
      <td>11</td>
      <td>20</td>
      <td>21</td>
      <td>29</td>
      <td>15</td>
      <td>23</td>
      <td>14</td>
      <td>9</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>BAL</th>
      <td>9</td>
      <td>16</td>
      <td>27</td>
      <td>23</td>
      <td>21</td>
      <td>19</td>
      <td>17</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>BOS</th>
      <td>13</td>
      <td>14</td>
      <td>18</td>
      <td>18</td>
      <td>23</td>
      <td>22</td>
      <td>11</td>
      <td>17</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>PIT</th>
      <td>12</td>
      <td>14</td>
      <td>24</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>PHI</th>
      <td>14</td>
      <td>21</td>
      <td>24</td>
      <td>23</td>
      <td>16</td>
      <td>16</td>
      <td>18</td>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>DET</th>
      <td>10</td>
      <td>23</td>
      <td>30</td>
      <td>18</td>
      <td>21</td>
      <td>19</td>
      <td>9</td>
      <td>11</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>LAD</th>
      <td>13</td>
      <td>14</td>
      <td>27</td>
      <td>26</td>
      <td>21</td>
      <td>11</td>
      <td>18</td>
      <td>7</td>
      <td>5</td>
      <td>9</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>NYY</th>
      <td>14</td>
      <td>20</td>
      <td>22</td>
      <td>27</td>
      <td>19</td>
      <td>19</td>
      <td>6</td>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>OAK</th>
      <td>12</td>
      <td>16</td>
      <td>14</td>
      <td>22</td>
      <td>22</td>
      <td>15</td>
      <td>22</td>
      <td>8</td>
      <td>10</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>MIA</th>
      <td>7</td>
      <td>10</td>
      <td>16</td>
      <td>31</td>
      <td>17</td>
      <td>10</td>
      <td>18</td>
      <td>13</td>
      <td>16</td>
      <td>12</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>NYM</th>
      <td>9</td>
      <td>21</td>
      <td>22</td>
      <td>28</td>
      <td>16</td>
      <td>13</td>
      <td>14</td>
      <td>14</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>TEX</th>
      <td>12</td>
      <td>15</td>
      <td>22</td>
      <td>21</td>
      <td>23</td>
      <td>15</td>
      <td>9</td>
      <td>12</td>
      <td>16</td>
      <td>7</td>
      <td>2</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>STL</th>
      <td>9</td>
      <td>19</td>
      <td>19</td>
      <td>23</td>
      <td>17</td>
      <td>21</td>
      <td>24</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>SFG</th>
      <td>12</td>
      <td>17</td>
      <td>18</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>23</td>
      <td>7</td>
      <td>8</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>SEA</th>
      <td>15</td>
      <td>16</td>
      <td>23</td>
      <td>31</td>
      <td>22</td>
      <td>24</td>
      <td>15</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>TBR</th>
      <td>12</td>
      <td>18</td>
      <td>23</td>
      <td>24</td>
      <td>23</td>
      <td>17</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>13</td>
      <td>162</td>
    </tr>
    <tr>
      <th>ATL</th>
      <td>17</td>
      <td>26</td>
      <td>27</td>
      <td>23</td>
      <td>20</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>162</td>
    </tr>
    <tr>
      <th>CLE</th>
      <td>12</td>
      <td>21</td>
      <td>24</td>
      <td>20</td>
      <td>29</td>
      <td>14</td>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>161</td>
    </tr>
    <tr>
      <th>SDP</th>
      <td>16</td>
      <td>17</td>
      <td>20</td>
      <td>22</td>
      <td>21</td>
      <td>21</td>
      <td>9</td>
      <td>11</td>
      <td>12</td>
      <td>6</td>
      <td>1</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>162</td>
    </tr>
  </tbody>
</table>
    <p>Data source: <a href="https://baseball-reference.com">Baseball Reference</a>, scraped using <a href="https://github.com/jldbc/pybaseball">Pybaseball</a></p>
    <p class='copyright'>© Andrew Scheiner 2025</p>
</body>
</html>
