---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets\apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets\favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets\favicon-16x16.png">
    <link rel="manifest" href="assets\site.webmanifest">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Andrew Scheiner's Website</title>
</head>
<body>
    <div>
        <img src="https://raw.githubusercontent.com/andrewscheiner/andrewscheiner.github.io/main/assets/my-headshot.png" alt="My headshot." style="height:25%;width:25%;border:none;"></img>
        <h1><a href="https://scheiner-sports-solutions.streamlit.app/">Introducing: Scheiner Sports Solutions</a></h1>
        <img src="https://raw.githubusercontent.com/andrewscheiner/andrewscheiner.github.io/main/assets/scheiner_sports_sols.png" alt="A picture of my sports site."
                   style="width:100%;height:100%;"></img>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="custom-box">
                            <p style="font-weight: bold;">
                                Scheiner Sports Solution is my newest creation, a site dedicated to providing valuable sports insights and analytics for sports bettors and fans.
                                It features various betting guides such as daily pitcher props and updates such as the current status of the <a href="https://www.fangraphs.com/projections/cy-young">Tom Tango CY Young award standings</a>.
                                Upcoming features include an interactive prop laddering tool, current and predictive monthly wins in the MLB, and a daily "no runs first inning" (NRFI) model.
                            </p>
                        </div>
                    </td> 
            </tr>
            </tbody>
        </table>
    </div>

    <div>
      <h1 style="font-size:3rem;">Featured Articles</h1>
      <table>
        <tbody>
          <tr>
            <td style="width: 33%">
              <p><a href="https://www.dickinson.edu/news/article/6001/dickinson_research_reveals_a_new_take_on_nba_tipoffs">Dickinson Research Reveals a New Take on NBA Tipoffs</a></p>
              <img src="https://www.dickinson.edu/images/Andrew_Scheiner.jpg">
              <div class="custom-box">
                <p style="font-weight: bold;">
                    "Student-faculty research suggests that the tipoff might be more significant than previously thought."
                </p>
                <p style="font-style: italic;">
                    - Tony Moore
                </p>
              </div>
            </td>
            <td style="width: 33%">
              <p><a href="https://www.dickinson.edu/news/article/5592/basketball_by_the_numbers">Basketball by the Numbers</a></p> 
              <img src="https://www.dickinson.edu/images/scheiner_700w_1.jpg">
              <div class="custom-box">
                <p style="font-weight: bold;">
                    "After interning with the athletics department, Andrew Scheiner '25 (comp sci, data analytics) researched tipoffs and jump balls in professional basketball and presented findings at Mathfest 2023."
                </p>
                <p style="font-style: italic;">
                    - Dickinson College Newsletter Editor
                </p>
              </div>
            </td>
            <td>
            <td style="width: 33%">
              <p><a href="https://thedickinsonian.com/sports/2025/02/20/the-dodgers-new-formidable-team/">Baseball's New Villain</a></p>
              <img src="https://th.bing.com/th/id/R.bd08fa7545b47802aa081cbc3449791a?rik=QRHInCUuU2imQA&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2ff%2ff1%2fDodger_Stadium.jpg&ehk=FluMP4Vwsd1ZB6Ofx8%2bMUYrl4cxuNux5GzoFnUIFQw0%3d&risl=&pid=ImgRaw&r=0">
              <div class="custom-box">
                <p style="font-weight: bold;">
                    "When you think of sports dynasties, which teams come to mind? Tom Brady’s Patriots? Michael Jordan’s Bulls? Well, what if I told you another one is brewing right now in Major League Baseball..."
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h1 style="font-size:3rem;">Projects</h1>
      <table>
        <tbody>
          <tr>
            <td style="width: 50%">
              <div>
                <h2>Personal Projects</h2>
                <p><a href="https://andrewscheiner.github.io/_includes/PROJECTS/TurningPoint/turningpoint.html">Turning Point / Shut The Box</a></p>
                <p><a href="https://andrewscheiner.github.io/_includes/PROJECTS/MLBRunsGivenUp/mlb_2025_runs_given_up.html">MLB Runs Given Up</a></p>
                <p><a href="https://andrewscheiner.github.io/_includes/PROJECTS/BaseballDataVis/pitching.html">Baseball Data Visualization</a></p>
                <p><a href="https://github.com/Baseballfan5303/MyMLBTop100ProspectsList">My MLB Top 100 Prospects Lists</a></p>
                <p><a href="https://github.com/andrewscheiner/BaseballGameCreator">Baseball Game Creator</a></p>
                <p><a href="https://github.com/Baseballfan5303/PredictingMLBTeamsSuccess">Predicting MLB Teams' Success</a></p>
               </div>
            </td>
            <td>
              <img src="https://raw.githubusercontent.com/Baseballfan5303/Baseballfan5303.github.io/main/assets/me-baseball.JPG" alt="A picture of me playing baseball."
                   style="width:375px;height:500px;"></img>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">
              <div>
                <h2>Professional Projects</h2>
                <p><a href="https://andrewscheiner.github.io/_includes/PROJECTS/RapidResponseAssessment/index.html">Rapid Response Assessment</a></p>
                <p><a href="https://docs.google.com/presentation/d/1lywzqWFMbu6TLddfj8kiQyNttRYCo7ynWHVEN-CEk5E/edit?usp=sharing">NBA Tipoff Research</a></p>
                <p><a href="https://github.com/andrewscheiner/NBAPlayoffPredictor"><i>Box Score to Bracket</i>: NBA Playoff Predictor</a></p>
                <p><a href="https://middleschoolcodingdata-miniprojectdata400.streamlit.app/">Middle School Participation in CS</a></p>
                <p><a href="https://github.com/Baseballfan5303/VS-TeenGuideToCOVID19">Teen Guide to COVID-19</a></p>
                <p><a href="https://github.com/Baseballfan5303/AnalyzingMLBFranchisesSince1998">Analyzing MLB Franchises</a></p>
                <p><a href="https://github.com/Baseballfan5303/DataAnalyticsPapers">Data Analytics Papers</a></p>
              </div>
            </td>
            <td>
              <img src="https://raw.githubusercontent.com/Baseballfan5303/Baseballfan5303.github.io/main/assets/me-1.jpg" alt="A picture of me."
                   style="width:375px;height:500px;"></img>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h1 style="font-size:2rem;">My Blog - "Connecting the Game"</h1>
    </div>

    <div class="home">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      {{ content }}


      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        {% if site.paginate %}
          <div class="pager">
            <ul class="pagination">
            {%- if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">•</div></li>
            {%- endif %}
              <li><div class="current-page">{{ paginator.page }}</div></li>
            {%- if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">•</div></li>
            {%- endif %}
            </ul>
          </div>
        {%- endif %}

      {%- endif -%}

    </div>
</body>
</html>
